/* ===========================
   WILDLIFE HERO
=========================== */


.wildlife-hero{

height:70vh;

background:
linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.5)
),
url("../images/wildlife-bg.jpg");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

color:white;

}



.wildlife-hero h1{

font-size:70px;

font-family:'Poppins',sans-serif;

margin-bottom:20px;

}



.wildlife-hero p{

font-size:22px;

}





/* ===========================
   WILDLIFE SECTION
=========================== */


.wildlife-section{

padding:100px 8%;

background:#f5fff6;

}



.wildlife-grid{


display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:35px;


}




.wildlife-card{


background:white;

border-radius:20px;

overflow:hidden;

box-shadow:
0 15px 35px rgba(0,0,0,.1);

transition:.4s;


}



.wildlife-card:hover{


transform:translateY(-10px);


}





.wildlife-card img{


height:250px;

width:100%;

object-fit:cover;


}




.wildlife-info{


padding:25px;


}



.wildlife-info h3{


color:#2E8B57;

font-size:25px;

margin-bottom:10px;


}



.wildlife-info p{


line-height:1.8;


}






/* ===========================
   CONSERVATION
=========================== */


.conservation{


padding:100px 10%;

text-align:center;

background:#2E8B57;

color:white;


}



.conservation h2{


font-size:45px;

margin-bottom:20px;


}




.conservation p{


max-width:700px;

margin:auto;

line-height:1.8;

font-size:18px;


}




.conservation a{


display:inline-block;

margin-top:30px;

background:white;

color:#2E8B57;

padding:15px 35px;

border-radius:30px;

font-weight:600;


}





@media(max-width:768px){


.wildlife-hero h1{

font-size:45px;

}


.conservation h2{

font-size:32px;

}


}